article {
    border: solid #000 1px;
    border-radius: 30px;
    width: 1800px;
}
section{
    border: 3px solid #f00;
    display: flex;
    min-width: 20px;
}

div{
     flex: 1 ;
     justify-content: flex-start;
    border: 1px solid #000;
}