article{
    border: solid #000 1px;
    border-radius: 30px;
    width: 1000px;   
}   
    table, td, th{
    border: 1px solid #000;
}
table{
    width: 500px;
    table-layout: 200px;
    margin-bottom: 50px;
    margin-left: 50px;
    border-collapse: collapse;
}
td, th{
    height: 50px;
    vertical-align: auto;
    text-align: center;
}
tr:nth-child(even){
    background-color: greenyellow;
}
a{
    margin: 50px 50px 50px 50px;
}