div{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: gray;
    color: #fff;
    border: 1px solid #000;
}
dl{
    border:3px solid #888;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 1, 1);

}
dt{
    color: white;
}
dd{
    color: #c66;
}
