summary::marker{
    color: #f00;
}
details[open] summary::marker{
    color: #00f;
}
details article{
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 15px;
}