#d1{
    width: 500px;
    height: 500px;
    border-color: red;
    border-style: solid;
    border-width: 20px;
    
}
.para{
    width: 500px;
    height: 500px;
    border-color: red;
    border-style: solid;
    border-width: 20px;

}
b{
    width: 500px;
    height: 500px;
    border-color: red;
    border-style: solid;
    border-width: 20px;
}