article{
    border: solid #000 1px;
    border-radius: 30px;
    width: 1000px;   
}   
#dv1{
    display: inline-block;
    border: #000 solid 50px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    margin: black 30px;
    background-color: blanchedalmond;
    outline: green 50px solid;
    
}
#dv2{
    border: #000 solid 1px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    display: inline-block;
    

}