dialog{
    padding: 0;
    border: 0;
    border-radius: 7px;
    box-shadow: 0 0 10pc black;
    flex-direction: column;
}
dialog::backdrop{
    background-color: #eee;
}
.dialog-titulo{
    background-color: #eee;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 7px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aaa;
    height: 40px;
}
.dialog-corpo{
    background-color: #fff;
    padding: 7px;
}
.dialog-rodape{
    background-color: #fff;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 7px;
    border-top: 1px solid #aaa;
}
#btn-fechar{
    border: none;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    outline: none;
}
#btn-fechar:hover{
    background-color: #eee;
}
