article {
  border: solid #000 1px;
  border-radius: 20px;
  width: 1000px;
  display: flex;
}
div{
  border: 1px solid #000;
  height: 50px;
}



.propriedade-order{
  border: 3px solid #f00;
  display: flex;
  
}

#propriedade-order-d1{
  order: 5;
  width: 100px;
}
#propriedade-order-d2{
  order: 2;
  width: 100px;
}
#propriedade-order-d3{
  order: 3;
  width: 100px;
}
#propriedade-order-d4{
  order: 4;
  width: 100px;
}
#propriedade-order-d5{
  order: 1;
  width: 100px;
}
#propriedade-order-d6{
  order: 6;
  width: 100px;
}

/*Flex-grow*/
.flex-grow{
  border: 3px solid #f00;
  display: flex;
}
#flex-grow-d1{
  order: 1;
  flex-grow: 0;
  width: 200px;
}
#flex-grow-d2{
  order: 2;
  width: 200px;
}
#flex-grow-d3{
  order: 3;
  width: 200px;
}
#flex-grow-d4{
  order: 4;
  width: 200px;
}
#flex-grow-d5{
  order: 5;
  width: 200px;
}
#flex-grow-d6{
  order: 6;
  width: 200px;
  flex-grow: 1;
}



/*Flex-shrink*/
.flex-shrink{
  border: 3px solid #f00;
  display: flex;
}
#flex-shrink-d1{
  order: 5;
  width: 100px;
  flex-shrink: 1;
}
#flex-shrink-d2{
  order: 2;
  
  flex-shrink: 0;
}
#flex-shrink-d3{
  order: 3;
  width: 100px;
  flex-shrink: ;
}
#flex-shrink-d4{
  order: 4;
  width: 100px;
  flex-shrink: ;
}
#flex-shrink-d5{
  order: 1;
  width: 100px;
  flex-shrink: ;
}
#flex-shrink-d6{
  order: 6;
  width: 100px;
  flex-shrink: ;
}


/*Flex-basis*/
.flex-basis{
  border: 3px solid #f00;
  display: flex;
}
#flex-basis-d1{
  order: 5;
  width: 100px;
  flex-basis: 100%;
}
#flex-basis-d2{
  order: 2;
  
  flex-basis: 100%;
}
#flex-basis-d3{
  order: 3;
  width: 100px;
  flex-basis: 100%;
}
#flex-basis-d4{
  order: 4;
  width: 100px;
  flex-basis: 100%;
}
#flex-basis-d5{
  order: 1;
  width: 100px;
  flex-basis: 100%;
}
#flex-basis-d6{
  order: 6;
  width: 100px;
  flex-basis: 100%;
}